 "/etc/data-app/test" :
    mode: "000755"
    owner: root
    group: root
    content: |
      APPLICATION_ENV>DEV

commands:
  command block:
    command-01: |
      mkdir /var/app/tmp
      chown webapp:webapp /var/app/tmp

  command web:
  command-02: cp /etc/data-app/test /var/app/current
    test: '[ "${APPLICATION_ENV}" == "DEV" ]'
    ignoreErrors: true