files:
  "/etc/data-app/dev.txt":
    mode: "000755"
    owner: root
    group: root
    content: |
      APPLICATION_ENV>DEV
    test: '[ "${APPLICATION_ENV}" == "DEV" ]'

  "/etc/data-app/prod.txt":
    mode: "000755"
    owner: root
    group: root
    content: |
      APPLICATION_ENV>PROD
    test: '[ "${APPLICATION_ENV}" == "PROD" ]'

container_commands:
  command block:
    command: cp /etc/data-app/test3.txt /var/app/staging
    test: '[ "${APPLICATION_ENV}" == "DEV" ]'
    ignoreErrors: true