files:
  "/etc/data-app/dev.txt":
    mode: "000755"
    owner: root
    group: root
    content: |
      APPLICATION_ENV>DEV

  "/etc/data-app/prod.txt":
    mode: "000755"
    owner: root
    group: root
    content: |
      APPLICATION_ENV>PROD

container_commands:
  command block:
    command: |
      mv /etc/data-app/dev.txt /var/app/staging/.htpasswd
      rm /etc/data-app/prod.txt
    test: '[ "${APPLICATION_ENV}" == "DEV" ]'
    ignoreErrors: true

    #command: mv /etc/data-app/prod.txt /var/app/staging/.htpasswd
    #test: '[ "${APPLICATION_ENV}" == "PROD" ]'
    #ignoreErrors: true